* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(46, 46, 46);
    padding: 20px 40px;
}

ul {
    list-style: none;
}

li {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

li a {
    color: aliceblue;
    text-decoration: none;
    transition: color .1s;
    font-size: 20px;
}

li::after {
    content: '';
    position: absolute;
    background-color: aliceblue;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    transition: width .5s;
}

li a:hover {
    color: rgb(7, 221, 221);
}

li:hover::after {
    width: 100%;
    background-color: rgb(7, 221, 221);

}

.smk {
    position: relative;
    top: -55px;
    margin-left: 1280px;
    width: 55px;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 460px;
    background-color: #f2f2f2;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}

p {
    margin: 0;
}

p .copyright {
    font-size: 14px;
    color: #444;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  